@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<div>"Nós, Policiais Militares, sob a proteção de Deus, estamos compromissados com a Defesa da Vida, 
    da Integridade Física e da Dignidade da Pessoa Humana."</div>
